<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dynamic_dns_client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dynamic_dns_client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <dynamic_dns_client.Properties.Settings>
            <setting name="ProfileDataFile" serializeAs="String">
                <value>./ManagedProfiles.xml</value>
            </setting>
            <setting name="OutgoingMailAddress" serializeAs="String">
                <value>atlastian.testing@gmail.com</value>
            </setting>
            <setting name="OutgoingMailPassword" serializeAs="String">
                <value>991454918a!</value>
            </setting>
        </dynamic_dns_client.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <dynamic_dns_client.Properties.Settings>
            <setting name="AppName" serializeAs="String">
                <value>dynamic-dns-client</value>
            </setting>
            <setting name="Namecheap_HttpString" serializeAs="String">
                <value>https://dynamicdns.park-your-domain.com/update?host={0}&amp;domain={1}&amp;password={2}&amp;ip={3}</value>
            </setting>
        </dynamic_dns_client.Properties.Settings>
    </applicationSettings>
</configuration>